.DS_Store
pretraining/model.pth
pretraining/model_and_optimizer.pth

gpt2_weights/model.pth
gpt2_weights/model_and_optimizer.pth
gpt2_weights/__pycache__/
gpt2_weights/gpt2

finetuningSpamClassification/sms_spam_collection/
finetuningSpamClassification/model.pth
finetuningSpamClassification/model_and_optimizer.pth
finetuningSpamClassification/__pycache__/
finetuningSpamClassification/gpt2
finetuningSpamClassification/review_classifier.pth
finetuningSpamClassification/sms_spam_collection.zip

instructionFinetuning/model.pth
instructionFinetuning/model_and_optimizer.pth
instructionFinetuning/__pycache__/
instructionFinetuning/gpt2
